html {
    scroll-behavior: smooth;
}
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}
body {
    overflow-y: auto;
}
.secao-b {
    opacity: 0;
    transition: opacity 1s ease;
    margin-top: 600px;
    padding: 20px;
}
.secao-b.visible {
    opacity: 1;
}
.secao-b h2 {
    text-align: center;
    font-family: 'CreamCake';
    font-size: 50px;
    margin: 0;
}
.secao-b h3 {
    text-align: center;
    font-family: 'CreamCake';
    font-size: 50px;
    margin: 0;
}
.secao-b p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.secao-b li {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}
.secao-b ul li strong {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0;
}
.all {
    letter-spacing: 0;
}
#m-with-crown {
    position: relative;
    display: inline-block;
}
#coroa {
    position: absolute;
    top: -53px;
    left: 75px;
    transform: rotate(10deg);
}
.dev {
    font-family: 'GroundationF';
    font-size: 106px;
    color: #ffffff;
    position: absolute;
    top: 85px;
    left: 450px;
    margin: 0;
}
.descricao {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: #9E9E9E;
    position: absolute;
    top: 229px;
    left: 225px;
    margin: 0;
}
.imagens a img {
    transition: transform 0.2s ease;
    cursor: pointer;
}
.imagens a:hover img {
    transform: scale(1.05);
}
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: white;
    z-index: 2;
    animation: pop-in 1s;
    height: 340px;
    width: 400px;
    transform-origin: center;
}
@keyframes pop-in {
    0% { opacity: 0; transform: scale(0.1) translate(-50%, -50%); }
    100% { opacity: 1; transform: scale(1) translate(-50%, -50%); }
}
.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
}
.popup.show {
    display: block;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}
.popup .close {
    cursor: pointer;
}
.close-btn:hover {
    color: #ccc;
}
@font-face {
    font-family: 'GroundationF';
    src: url('../resources/GroundationF.ttf') format('truetype');
}
@font-face {
    font-family: 'CreamCake';
    src: url('../resources/CreamCake.otf') format('truetype');
}
